.logo-image-details {
  width: 60px;
  background-size: cover;
  margin-left: 20px;
}

.logo-insta-details {
  width: 80px;
  height: 80px;
  background-size: cover;
  margin-top: 20px;
}

.addressPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
